.background{
 
  background-image: linear-gradient(45deg, black 20%, #7e6209 50%,black );
  background-blend-mode: screen;
  background-color: black;
}
body{
    background-color: #27046d;
  }
  .App{
    /* background-color: #3f3160; */
    min-height:500px;
    width: 400px;
    margin: 40px auto;
  }
  
  #to-do-form input{
    background-color: rgb(0, 0, 0);
    border: 0; 
    color: #fff;
    width: 200px;
    height: 50px;
    margin: 20px;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 10px;
  }
  #to-do-form input::placeholder{
    color: rgba(255, 255, 255, 0.507);
  }
  #to-do-form input:focus{
    outline: none;
  }
  #to-do-form button{
    height: 50px;
    width: 80px;
    border-radius: 5px;
    border: 0;
    /* background-color:rgba(202, 156, 24, 1);  */
    background-image: linear-gradient(to right, black, #7e6209);
    cursor: pointer;
  }
  #to-do-form button:focus{
    outline: none;
  }




  .list{
    color: #fff;
    width: 300px;
    margin: 20px auto;
    height: 50px;
    /* background-color: #bf07ac; */
    background-image: linear-gradient(to right, black, #7e6209);
    border-radius: 5px;
}
.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
.list p input{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 18px;
}
.list p input:focus{
    outline: none;
}
.list p span{
    position: absolute;
    right: 10px;
}
.faicons{
    margin: 0 5px;
    font-size: 15px;
    cursor: pointer;
}
.itemsAnim-enter{
    opacity: 0.01;
}
.itemsAnim-enter .itemsAnim-enter-active{
    opacity: 1;
    transition: opacity 300ms ease-in
}
.itemsAnim-leave{
    opacity: 1;
}
.itemsAnim-leave .itemsAnim-leave-active{
    opacity: 0.01;
    transition: opacity 300ms ease-in
}
.del-btn{
  background:none;
  border: none;
}
.white{
  color: white;
}